{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


      <div class="row">
        <!-- Looping over each treasure in the treasures list -->
        {% for treasure in treasures %}
            <!-- Creating a column for each treasure panel -->
            <div class="col-md-4">
              <a href="/{{treasure.id}}">
              <div class="treasure panel panel-default">
                <!-- Adding treasure title by username -->
                <div class="panel-heading">
                  <h3 class="panel-title">{{ treasure.name }}</h3>
                </div>

                <!-- Adding treasure image -->
                <div class="panel-body">
                  <div class="treasure-photo">
                    <img src="{{ treasure.img_url }}">
                  </div>
                </div>

              </div>
              </a>
            </div>

          <!-- if last column in row -->
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
              </div><br><div class="row">
            {% endif %}
        {% endfor %}
        </div><br>

{% endblock %}
